%table.table-striped.table-condensed
  %tr
    %th Nazwa Ticketu
    %th Opis Ticketu
    %th{:colspan => "2"}
    %tr
      %td= @ticket.title
      %td= @ticket.text
      
%br
= link_to 'Edycja', edit_project_ticket_path(@project,@ticket), :class => 'btn btn-large btn-primary'
|
\#{link_to 'Powrót', project_tickets_path, :class => 'btn btn-large btn-primary'}